@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #09489e;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
    display: block;
}

input[type=text], select {
  width: 420px;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

button[type=submit] {
  width: 100%;
  background-color: #4db2e4;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #4db2e4;
}


.background-light-gray {
    background-color: #f5f5f5;
}

.background-dark-blue {
    background-color: #09489e;
}

.glass-effect {
    background: #426fae;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 150px;
    height: 150px;
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-family-inter {
    font-family: 'Inter', sans-serif;
}

.text-center {
    width: 420px;
    height: 40px;
    color: #ffffff;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.border-permitted {
    border: 1px solid #ccc;;
}

.border-prohibited {
    border: 2px dashed #4db2e4;
}

